.pricing-hero{
    background-image: url('../../assets/imgs/pricingBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 700px;
    padding:5% 0%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prcing-features-box{
    padding-left: 20%;
}

.pricing-sec1{
    background-color: #F9F9F9;
}

.pricing-blackDiv{
    height: 60px;
    background-color: black;
}

@media  (max-width:700px) {
    .pricing-mobile-margintT{
        margin-top: 150px;
        margin-bottom: 50px;
    }
}