.bookEng-hero{
    background-image: url('../../assets/imgs/bookEngImg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 700px;
    padding:5% 0%;
    padding-top: 10%;
}

.bookEng-sec2-topMargin{
    margin-top: 150px;
}

@media screen and (max-width:699px) {
    .bookEng-sec2-topMargin{
        margin-top: -20px;
    } 
}
