.repMgt-hero{
    background-image: url('../../assets/imgs/repMgtImg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 700px;
    padding:5% 0%;
    padding-top: 10%;
}

.repMgt-list{
    font-size: 20px;
}