.spMsg-text1 {
    font-family: Poppins-Medium;
}

.spMsg-hero {
    background: linear-gradient(45deg, #665A3D, #13110C, #000000);
    padding-top: 12%;
}

.spMsg-hero-heading {
    font-size: 80px;
    font-family: Poppins-ExtraBold;
    color: white;
}

.spMsg-hero-contentBox {
    padding: 5% 15%;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 10%;
}

.spMsg-hero-content {
    font-size: 23px;
    color: white;
    font-family: Poppins-SemiBold;
    line-height: 34px;
    text-align: center;
}

.spMsg-hero-btns {
    display: flex;
    align-items: center;
    gap: 50px;
}

.spMsgImgSec2 {
    margin-top: -5%;
}

.spMsgcontentTopMargin {
    margin-top: 25%;
}

.spMsg-bgBox {
    margin-top: 10%;
    background-image: url('../../assets/imgs/geoImg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 22px;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5% 15%;
    text-align: center;
    gap: 30px;
}

.spMsg-padding {
    padding: 0% 5%;
    padding-bottom: 7%;
}

@media screen and (max-width:799px) {

    .spMsg-hero-contentBox{
        padding-top: 40%;
    }
    .spMsg-hero-heading{
        font-size: 40px;
    }

    .spMsg-hero-btns{
flex-direction: column;
    }

    .spMsgcontentTopMargin {
        margin-top:40px;
    }


}