.switchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.switchIcon {
    width: 56px;
    cursor: pointer;
}

/* next commmit  */

@media (max-width:700px) {
    .switchIcon {
        width: 35px;
    }
}