.margin-home {
    margin-top: 100px;
}

/* banner section  */
.home-banner-box {
    width: 100%;
    /* height: 600px; */
    padding:5%;
    padding-top: 200px;
    background: linear-gradient(to right, #1D2043, #463B35, #05040A);
    color: white;
}

.home-banner-heading {
    font-family: Poppins-Bold;
    font-size: 53px;
}

.home-banner-heading span{
    font-family: Poppins-Bold;
    font-size: 53px;
    color: red;
}

.home-banner-content{
    margin: 8% 0px;
    margin-right: 8%;
}

.home-banner-right div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

/* section 2  */

.home-sec2-box {
    background-color: #FFFFFF;
    /* text-align: center; */
}

.home-sec2-content {
    padding: 5% 15%;
    text-align: center;
}

.home-sec2-text{
    font-size: 21px;
    color: black;
    margin: 2% 0px;
    text-align: center;
}

.home-sec2-imgs {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home-sec-2-img-box {
    width: 100%;
    text-align: center;
}

.home-sec-2-img{
    width: 70%;
}

.home-sec2-watch-main{
    margin-top: 8%;
    /* background-color: gray; */
    padding: 2% ;
    position: relative;
}

/* right img  */

.home-sec2-video-box{
    position: absolute;
    top: 0px;
    right: 80px;
}

.home-watch-img{
    min-width: 475px;
    min-height: 386px;
    width: 95%;
    display: block;
}

.home-watch-img img,
.home-watch-img video{
    width: 100%;
    border-radius: 25px;
}



.home-watch-img1{
    display: none;
}

.home-watch-img1 img,
.home-watch-img1 video{
    width: 100%;
    border-radius: 25px;
}

/* left content  */

.home-sec2-watch-box{
    background: linear-gradient(to right, #1D2043,#463B35,#05040A);
    border-radius: 25px;
    color: white;
    padding: 3%;
    min-height: 350px;
}


.home-watch-heading{
    font-family: Poppins-SemiBold;
    font-size: 28px;
    margin-bottom: 40px;

}

.home-watch-content{
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}

.home-watch-content ul{
    color: white;
}

.home-watch-content ul li{
    line-height: 20px;
}
/* section 3  */
.home-sec3-box {
    background: white;
}

.home-sec3-img {
    width: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border-radius: 10px;
}

.home-sec3-img:hover {
    transform: translateY(-5px);
    /* Move the div 5px upward on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* section 4  */
.home-sec4-box {
    background: #F9F9F9;
}

.home-card1-heading {
    margin: 10px 0px;
    font-family: Poppins-SemiBold;
}

.home-card1-content {
    font-family: Poppins-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px 0px;
}

.home-card-btnTxt {
    color: var(--primary-bg);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/* section 5  */
.home-sec5-box {
    background-color: white;
}

.cardLeft-desktop {
    display: block;
}

.cardLeft-mobile {
    display: none;
}

.home-card-data {
    margin-top: 120px;
}

.home-card-heading {
    font-family: Poppins-SemiBold;
    font-size: 28px;
}

.home-card-content {
    font-family: Poppins-Regular;
    font-size: 17px;
    margin: 15px 0px;
}

.sec5-author-text-box{
    margin-top: 100px;
}

.home-sec5-author-img{
    width: 90%;
}

.home-sec5-author-text {
    font-size: 40px;
    margin-top: 30px;
}

.home-sec5-author-name {
    margin: 50px 0px;
    font-size: 25px;
}

/* home section 6  */
.home-sec6-box {
    background-image: url('../../assets/imgs/imgBg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 500px;
}

.home-sec6-heading {
    font-family: Poppins-Bold;
    color: white;
    font-size: 40px;
    line-height: 45px;
}

.home-sec6-content {
    font-size: 20px;
    font-family: Poppins-Regular;
    color: white;
    margin: 40px 0px;
}

/* home section 7  */
.pricingCard-home {
    border: 2px solid #F56B3F;
    padding: 8%;
    border-radius: 20px;
    min-height: 680px;
    background-color: white;
    cursor: pointer;
}

.pricingCard-home:hover{
    background-color: #F9F9F9;
}

.pricingCard-home1 {
    border: 2px solid #F56B3F;
    padding: 8%;
    border-radius: 20px;
    min-height: 680px;
    background-color: white;
}


.pricingCard-heading {
    font-family: Poppins-Bold;
    font-size: 40px;
}

.pricingCard-heading1 {
    /* font-family: Poppins-Bold; */
    font-size: 28px;
    line-height: 35px;
    text-align: center;
}

.pricingCard-explanation{
    color: #454545;
    margin: 15px 0px;
}

.pricingCard-price{
    color: #212121;
    font-size: 25px;
    font-family: Poppins-Regular;
    margin-top: 20px;
}

.pricingCard-note{
    text-align: center;
    margin-bottom: 5px;
}

.priceCard-features {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.priceCard-features div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Poppins-Regular;
}

.home-sec7-bgBox {
    margin-top: 10%;
    background-image: url('../../assets/imgs/imgBg1.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 22px;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5% 15%;
    text-align: center;
    gap: 30px;
}

.home-sec7-heading {
    font-size: 40px;
    font-family: Poppins-Bold;
}

.home-sec7-content {
    font-family: Poppins-Regular;
}

.home-sec7-btn {
    background: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    min-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sec7-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* section 8  */

.sliderItem {
    width: 100%;
}

.sliderItem img {
    width: 100%;
}

.sliderItem-heading {
    font-size: 21px;
    line-height: 30px;
    font-family: Poppins-SemiBold;
    margin-top: 20px;
}

.sliderItem-content {
    color: #212121;
    margin: 20px 0px;
}

.slick-slide>div {
    margin: 0px 30px;
}

.slider-navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    /* margin-left: 5%; */
    margin-top: -25px;
    z-index: 5;
    position: absolute;
}

.slider-navigation img {
    width: 50px;
    cursor: pointer;
}

.slider-navigation img:hover {
    opacity: 0.9;
}

.slick-slider {
    background: white;
    /* margin: 0px -2%; */
}

.card-marginT {
    margin-top: 30px;
}

@media  (max-width:699px) {
    .home-banner-box {
        padding-top: 150px;
    }

    .home-banner-heading {
        font-size: 30px;
    }

    .home-banner-heading span{
        font-size: 30px;
        color: red;
    }

    .home-banner-right div {
        font-size: 14px;
    }
    .home-sec2-text{
        margin: 0px;
        margin-top: 8%;
    }

    .home-watch-content{
        font-size: 14px;
        line-height: 20px;
    }

    .cardLeft-desktop {
        display: none;
    }

    .cardLeft-mobile {
        display: block;
    }

    /* section 2  */

    .slider-navigation {
        margin-bottom: 50px;
        
    }
    .home-card-data {
        margin-top: 20px;
    }

    /* section 5  */

    .sec5-author-text-box{
        margin-top: 50px ;
        margin-bottom: 50px;
    }

    .home-sec5-author-text {
        font-size: 25px;
    }
    
    .home-sec5-author-name {
        margin: 25px 0px;
    }

    /* section 6  */

    .home-sec6-heading {
        font-size: 30px;
        line-height: 38px;
    }
    
    .home-sec6-content {
        font-size: 16px;
        font-family: Poppins-Regular;
        color: white;
        margin: 40px 0px;
    }

    /* pricing card  */

    .pricingCard-home {
        min-height: 500px;
    }

    /* section 7  */

    .home-sec7-bgBox {
        margin-top: 10%;
        background-image: url('../../assets/imgs/imgBg1.png');
        background-position: center;
        background-size: cover;
        width: 100%;
        border-radius: 22px;
        min-height: 350px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 5% 10%;
        text-align: center;
        gap: 30px;
    }

    .home-sec7-heading{
        font-size: 30px;
    }


}

/* for home section 2 watch img  */

@media (max-width:1600px) {
    .home-watch-img{
        width: 100%;
        cursor: pointer;
    }

    .home-sec2-video-box{
        position: absolute;
        top: 0px;
        right: 100px;
    }

    .home-sec2-watch-box{
        background: linear-gradient(to right, #1D2043,#463B35,#05040A);
        border-radius: 25px;
        color: white;
        padding: 3%;
        min-height: 314px;
    }

    .home-sec5-author-text {
        font-size: 30px;
        margin-top: 10px;
    }
    
    .home-sec5-author-name {
        margin: 30px 0px;
        font-size: 25px;
    }
    
}

@media (max-width:1250px) {
    .home-watch-img{
        width: 100%;
        cursor: pointer;
    }

    .home-sec2-video-box{
        position: absolute;
        top: 0px;
        right: 150px;
    }

    .home-sec2-watch-box{
        background: linear-gradient(to right, #1D2043,#463B35,#05040A);
        border-radius: 25px;
        color: white;
        padding: 3%;
        min-height: 314px;
    } 
}

@media (max-width:1000px) {
    .home-watch-img{
        width: 80%;
        cursor: pointer;
        display: none;
    }

    .home-watch-img1{
        width: 100%;
        cursor: pointer;
        display: block;
        border-radius: 25px;  
    }

    .home-sec2-video-box{
        position: absolute;
        left: 20px;
    }

    .home-sec2-watch-box{
        background: linear-gradient(to right, #1D2043,#463B35,#05040A);
        border-radius: 25px;
        color: white;
        padding: 8%;
    } 
}