.geoFence-heading1{
    color: black;
    font-family: Poppins-SemiBold;
    font-size: 26px;
    line-height: 34px;
}

.geoFence-text1{
    font-size: 16px;
    font-family: Poppins-Regular;
    color: black;
}

.geoFence-icon{
    width: 42px;
}


.geoFence-hero{
    background-image: url('../../assets/imgs/geoImg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.geoFence-hero-contentBox{
    padding: 5% 30%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.geoFence-hero-heading{
    color: white;
    font-family: Poppins-ExtraBold;
    font-size: 65px;
    text-align: center;
}

.geoFence-hero-content{
    font-size: 20px;
    color: #97969A;
    font-family: Poppins-SemiBold;
    line-height: 34px;
    text-align: center;
}

.geoFence-hero-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.geoFence-hero-btn {
    box-sizing: border-box;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid white;
    color: white;   
    border-radius: 15px;
    min-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    cursor: pointer;
}

/* section 2  */
.geoFence-sec2-content p {
    font-size: 16px;
    color: black;
    line-height: 21px;
    padding: 0px 3%;
}

.geoFence-sec2-content>p> span{
    font-weight: 800;
    font-family: Poppins-ExtraBold;
}

/* section 3  */
.geoFence-sec3-leftBox{
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.geoFence-sec3-leftBox img{
    width: 42px;
}

.geoFence-sec3-inpBtn{
    display: flex;
    gap:20px
}

/* section 4  */
.geoFence-sec4-leftBox img{
    margin-top: -80px;
}

.geoFence-heading2{
    color: black;
    font-family: Poppins-SemiBold;
    font-size: 26px;
    line-height: 34px;
    margin-left: 7%;
}

.geoFence-heading2 span{
    color: #7BADB8;
    font-family: Poppins-Regular;
    font-size: 26px;
    line-height: 34px;
    text-decoration: underline;
    cursor: pointer;
}

/* section 5  */
.geoFence-sec5-leftBox,
.geoFence-sec6-rightBox{
    margin-top: -80px;
}

/* section 8  */

.geoFence-sec8-text{
    font-size: 23px;
    line-height: 34px;
    color: black;
    font-family: Poppins-SemiBold;
    margin: 5% auto;
    text-align: center;
}

.geoFence-sec8-dataBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.geoFence-sec8-dataBox p{
    padding: 0px 12%;
    text-align: center;
}

.geoFence-sec8-btn{
    display: flex;
    justify-content: center;
}

@media (max-width:699px) {
    
    
    .geoFence-hero-contentBox{
        padding: 15% 10%;
        padding-top: 50%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .geoFence-hero-heading{
        color: white;
        font-family: Poppins-ExtraBold;
        font-size: 30px;
        text-align: center;
    }
    
    .geoFence-hero-content{
        font-size: 16px;
        color: #97969A;
        font-family: Poppins-SemiBold;
        line-height: 22px;
        text-align: center;
    }
    
    .geoFence-hero-btns{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .geoFence-hero-btn {
        box-sizing: border-box;
        background: transparent;
        outline: none;
        border: none;
        border: 2px solid white;
        color: white;   
        border-radius: 15px;
        min-height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 25px;
    }

    /* section 4  */

    .geoFence-heading2{
        color: black;
        font-family: Poppins-SemiBold;
        font-size: 20px;
        line-height: 25px;
        margin-left: 7%;
    }
    
    .geoFence-heading2 span{
        color: #7BADB8;
        font-family: Poppins-Regular;
        font-size: 20px;
        line-height: 25px;
        text-decoration: underline;
        cursor: pointer;
    }

    /* section 8  */

    .geoFence-sec8-text{
        font-size: 20px;
        line-height: 25px;
    }
    
}

