.tta-sec2-left-heading{
    margin-top: 50px;
    border-top: 1px solid lightgray;
    padding: 15px 5px; 
    font-family: Poppins-SemiBold;
}

.tta-sec2-left{
    padding-top: 15px;
}

.tta-sec2-product{
    background-color: white;
    padding: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.tta-sec2-product img{
    width: 100%;
    height: 220px;
    border-radius: 5px;
}

.tta-sec2-product-heading{
    font-family: Poppins-SemiBold;
}

.tta-sec2-product-rating{
    display: flex;
    align-items: center;
    gap:10px;
    margin: 5px 0px;
}

.tta-sec2-product-rating-text{
    font-size: 12px;
    color: blue;
    margin-top: 2px;
}

.tta-sec2-product-label{
    font-size: 13px;
    line-height: 13px;
}

.tta-sec2-product-amount{
    margin-top: -5px;
    font-size: 28px;
    font-family: Poppins-SemiBold;

}

/* section 3  */

.tta-sec3-upper{
    padding: 0% 20%;
}

.tta-sec3-upper img{
    width:100%;
}

.tta-sec3-upper-heading{
    font-family: Poppins-SemiBold;
    font-size: 25px;
    line-height: 33px;
    margin: 20px 0px;
}

.tta-sec3-bottom{
    padding: 3% 20%;
    background-color: #f7f7f5;
    margin-top: 50px;
}

.tta-sec3-header-box{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.tta-sec3-header-box img{
    width: 60px;
    border-radius: 5px;
}

.tta-sec3-header-box div{
    font-family: Poppins-SemiBold;
    font-size: 20px;
}

.tta-sec3-bottom-box{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 1px 5px 10x rgba(0, 0, 0, 0.1);
}

.tta-sec3-bottom-box-heading{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Poppins-SemiBold;
}

.tta-sec3-bottom-box-offers{
    color: blue;
    text-decoration: underline;
}
